.venv
venv
.ipynb_checkpoints
*.ipynb
.env

.fastllm
.fastllm/*
.promptmodel
.promptmodel/*

*/__pycache__
__pycache__

.vscode
.vscode/*
*/.DS_Store
*.egg-info

test
test/*
testapp
testapp/*

build
build/*
dist
dist/*
